.review {
  background-color: white;
  max-width: 100%;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}
.review_header {
  display: flex;
  align-items: center;
  padding: 15px;
}
.review_avatar {
  margin-right: 10px;
  z-index: 0;
}
.review_image {
  width: 100%;
  height: 280px;
  object-fit: contain;
}
.review_text {
  font-weight: normal;
  padding: 20px;
  word-break: break-all;
}

.review_checkBox {
  z-index: 0;
}
.review_avatarGroup {
  z-index: 0 !important;
}
.review_comments {
  padding: 20px;
}
.review_comment {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  word-break: break-all;
}
.review_commentBox {
  display: flex;
  margin-top: 10px;
}
.review_input {
  flex: 1;
  padding: 10px;
  border: none;
  border-top: 1px solid lightgray;
}
.review_button {
  flex: 0;
  border: none;
  color: #4682b4;
  background-color: transparent;
  border-top: 1px solid lightgray;
  cursor: pointer;
}
.review_strong {
  margin-right: 5px;
}
